/* FONTS */

@font-face {
    font-family:'sirichana';
    src: url('../fonts/detail/1 Bold.eot');
	  src: url('../fonts/detail/1 Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/detail/1 Bold.woff2') format('woff2'),
		url('../fonts/detail/1 Bold.woff') format('woff'),
		url('../fonts/detail/1 Bold.svg#1 Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'sirichana';
    src: url('../fonts/detail/1 Regular.eot');
	  src: url('../fonts/detail/1 Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/detail/1 Regular.woff2') format('woff2'),
		url('../fonts/detail/1 Regular.woff') format('woff'),
		url('../fonts/detail/1 Regular.svg#1 Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}


/* TYPO */
.detail {
  font-family: "Helvetica Neue LT Std 57 Condensed";
}
.detail h1, h2, h3, h4, .detail-price p, .detail-titleStar{
  color : var(--orange);
}
.detail h1{
  font-size: 5rem;
}
.detail h2{
  font-size: 4rem;
}
.detail-breadcrumbs a {
  font-size: .7rem;
  color : var(--orange);
  font-weight: 700;
}
#detail-description .detail-titleStar {
  font-size: 50px;
}
#detail-description .detail-titleStar + p {
  font-size: 1.6rem;
}
.detail-confort h4 {
  font-size: 2rem;
}
.detail-ConfortMoreHoverDescription p {
  color: var(--purple);
  font-size: 0.95rem;
}
.detail-price h3::first-letter {
  font-size: 2.5rem;
}

.detail-price .detail-priceDesktopTarif {
  font-family: "sirichana";
  font-size: 2rem;
}
.detail-price .detail-priceDesktopTarif > span {
  font-size: 3rem;
}
.detail-price .detail-priceDesktopTarif > span > span {
  font-size: 1.5rem;
}

.detail-price .detail-priceDesktopTarif::first-letter {
  font-size: 2.5rem;
  font-weight: 600;
}
.detail-carouselDescription h4 {
  font-size:2rem;
  font-weight: 600;
}
.detail-carouselDescription p {
  font-size: 2rem;
}
footer h5 {
  font-size: 2rem;
  font-weight: bold;
}
footer h5 + p {
  font-size: 1.7rem;
  line-height: 1.2rem;
}
footer .footer-BeauvaisDescriptionDesktop{
  font-size: .8rem;
}
/* GENERAL */
.detail-boxShadow {
  box-shadow: 0px 10px 20px grey;
}
.detail a:hover {
  text-decoration: none;
}

/* BURGER MENU NAV*/
#detail-burgerMenu .detail-logoMobile {
  display: none;
}
#detail-burgerMenu nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#detail-burgerMenu nav .detail-burgerMenuIcon{
  padding-left: 2rem;
  padding-top: 2rem;
}

/* NAV */
#detail-burgerMenu .detail-titleStar {
  font-size: 70px;
  margin-top: -38px;
  margin-bottom: -55px;
  color : var(--orange);
}

/* BURGER MENU DROPDOWN */
#detail-burgerMenuDropDown {
  background-color : var(--orange);
  padding-bottom: 3rem;
  display: none;
}
#detail-burgerMenuDropDown h2 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  padding: 1rem;
}
#detail-burgerMenuDropDown .detail-burgerMenuDropDownContainer {
  margin-top : -50px;
}
#detail-burgerMenuDropDown .detail-BurgerMenuDropDownDescription {
  margin-top: -40px;
}
#detail-burgerMenuDropDown .detail-BurgerMenuDropDownDescription a {
  color: white;
}
#detail-burgerMenuDropDown .detail-BurgerMenuDropDownDescription a {
  text-decoration: none;
}
#detail-burgerMenuDropDown h2:hover  {
  font-size: 3.5rem;
}
.detail-burgerMenuDropDownIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.detail-burgerMenuDropDownIconDiscover {
  padding-bottom: 3rem;
}
.detail-burgerMenuDropDownIcon {
  padding-left: 3rem;
  padding-top: 3rem;
}

/* HEADER */
#detail-banner {
  background: url('../images/detail/header.jpg');
  height: 692px;
}

     /* Modal */
     #detail-bannerModal{
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(0,0,0);
       background-color: rgba(0,0,0,0.9);
       padding-left: 9rem;
       padding-top: 15rem;
     }

     @keyframes zoom {
       from {transform:scale(0)}

       to {transform:scale(1)}
     }

     /*  Close Button */
     .detail-bannerModalClose {
       position: absolute;
       top: 15px;
       right: 35px;
       color: #f1f1f1;
       font-size: 40px;
       font-weight: bold;
       transition: 0.3s;
     }

     .detail-bannerModalClose:hover,
     .detail-bannerModalClose:focus {
       color: #bbb;
       text-decoration: none;
       cursor: pointer;
     }


/*SECTION DESCRIPTION */
#detail-confortMoreDropDown {
  display: none;
}
#detail-confortMoreDescriptionWifi, #detail-confortMoreDescriptionHairdryer, #detail-confortMoreDescriptionPhone, #detail-confortMoreDescriptionTv,
#detail-confortMoreDescriptionParabole, #detail-confortMoreDescriptionWindows {
  display: none;
}
.detail-descriptionMobile {
  display: none;
}
#detail-description{
  background-color: white;
  margin-top: -130px;
  margin-bottom: 10rem;
  padding-top: 3rem;
}
.detail-confortMoreCircle {
  border: 1px solid var(--orange);
  width: 4rem;
  height:4rem;
  border-radius: 5rem;
}
.detail-confortMoreCircle:hover {
  background-color: var(--purple);
  border: none;
  cursor: url(hand.cur), pointer;
}
#detail-confortMoreDescriptionWifi {
  margin-left: 6.8rem;
}
#detail-confortMoreDescriptionHairdryer {
  margin-left: 13.6rem;
}
#detail-confortMoreDescriptionPhone {
  margin-left: 21.8rem;
}
#detail-confortMoreDescriptionTv {
  margin-left: 29.8rem;
}
#detail-confortMoreDescriptionParabole {
  margin-left: 38.2rem;
}
#detail-confortMoreDescriptionWindows {
  margin-left: 45rem;
}

/* SECTION CHAMBRE */
.detail-priceMobile {
  display: none;
}
.detail-carouselIndicators li{
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-indent: 0px;
  text-align: center;
  color: #000;
}

.detail-carouselIndicators .active{
    border: 3px solid var(--purple)
}
.detail-carouselSlide {
  margin-left: 3rem;
}

.detail-carouselDescription {
  top:5rem;
  right:5rem;
  width: 567px;
  height: 460px;
  margin-top: -45rem;
}
.detail-carouselDescription p {
    padding-left: 5rem;
    padding-top: 2rem;
}
.detail-accecibiltyPartBgOrange {
  background-color : var(--orange);
  bottom: 0;
  width: 100%;
  height: 93px;
}
.detail-accecibiltyPartRoundPurple {
  border-radius: 50rem;
  height: 3rem;
  width: 3rem;
  background-color : var(--purple);
}
.detail-accecibiltyPartIcon {
  margin-top: -15px;
}
.detail-price {
  height: 835px;
  padding-left: 3rem;
  padding-right: 5rem;
}

/* SECTION CARTE */
.detail-map iframe {
  width: 100%;
  height:100%;
}
.detail-map {
  height: 640px;
}

/*FOOTER*/
.footer-mobile{
  display: none;
}
footer {
  background-color: var(--orange);
}
.footer-guide, footer button, .footer-network{
  font-family: "sirichana";
  font-weight: bold;
}
footer button{
  font-size: 1.2rem;
  border : 2px solid #b9532b;
  border-radius: .1rem;
  background-color: transparent;
  color: white;
}
footer button:hover{
  background-color: white;
  color: var(--orange);
}
footer hr {
  height: 600px;
  width : 3px;
  background-color: white;
}
.footer-lign {
  border-left: 3px solid white;
  margin-top: 5rem;
}
.footer-btn-brochure{
  width: 190px;
  margin: auto;
}
.footer-btn-newletter {
  width: 320px;
  margin: auto;
}
.button-group {
  width: 20rem;
}
.footer-network {
  padding-left: 7.8rem;
  font-size: 1.5rem;
}




/* VERSION MOBILE */
@media (max-width: 576px) {

  /* TYPO */
  .detail h1{
    font-size: 2.3rem;
  }
  .detail h2{
    margin-top : 1rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .detail-titleStar {
    font-size: 30px;
  }
  .detail-titleStar + p {
    font-size: 1.2rem;
  }
  .detail-titleStar + p span {
    display: none;
  }
  .detail-confort h4 {
    display: none;
  }
  .detail-confort h4 + img {
    width: 5rem;
  }

  /* GENERAL */
  .detail-boxShadow {
    box-shadow: 0px 0px 0px grey;
  }

  /* BURGER MENU NAV*/
  #detail-burgerMenu .detail-logoDesktop, .detail-breadcrumbs{
    display: none;
  }
  #detail-burgerMenu nav {
    height: 248px;
  }
  #detail-burgerMenu nav .detail-burgerMenuIcon {
      width : 2.5rem;
      padding-left: 0.5rem;
      padding-top: 1rem;
    }
  .detail-navMobile {
    position: absolute;
    top: 1rem;
    left: 6rem;
  }
  .detail-navMobile h1 {
    padding-top: 1rem;
  }
  .detail-navMobile h1, .detail-navMobile  .detail-titleStar{
    margin-left: -2.5rem;
  }
  #detail-burgerMenu .detail-logoMobile{
    display:block;
    width: 8.5rem;
  }
  #detail-burgerMenu .detail-titleStar {
    font-size: 30px;
    padding-top: 1.5rem;
  }

  /* BURGER DROPDOWN */
  #detail-burgerMenuDropDown {
    background-color : var(--orange);
    display: none;
  }
  .detail-burgerMenuDropDownLogoWhite {
    width: 11rem;
    height: 11rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: .8rem;
  }
  #detail-burgerMenuDropDown h2 {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 0;
    line-height: 1rem;
    text-align: center;
  }
  #detail-burgerMenuDropDown .detail-burgerMenuDropDownContainer {
    margin-top : 0px;
  }
  #detail-burgerMenuDropDown .detail-BurgerMenuDropDownDescription {
    margin-top: 0px;
  }
  #detail-burgerMenuDropDown h2:hover  {
    font-size: 1.8rem;
  }
  .detail-burgerMenuDropDownIcons {
    position: absolute;
    top: 5px;
    right: 0;
    flex-direction: row-reverse;
    width: 5rem;
  }
  .detail-burgerMenuDropDownIcons img {
    margin-left: 1rem;
  }
  .detail-burgerMenuDropDownIconMeteo{
    width: 2rem;
  }
  .detail-burgerMenuDropDownIconLocation{
    width: 1.2rem;
  }
  .detail-burgerMenuDropDownIconDiscover {
    padding-bottom: 0;
    width: 2rem;
  }

  .detail-burgerMenuDropDownIcon {
    padding-left: 1rem;
    padding-top: 1rem;
    width: 5rem;
  }

  /* HEADER */
  #detail-banner {
    background: url('../images/detail/header.jpg') no-repeat;
    height: 411px;
    background-size: 350%;
  }

  /*SECTION DESCRIPTION */
  .detail-priceMobile {
    display: block;
  }
  .detail-descriptionMobile{
    display: block;
  }
  .detail-descriptionMobile{
    height:467px;
  }
  .detail-descriptionDesktop{
    display: none;
  }
  .detail-confort h4 + img {
      width: 4rem;
  }

  /* SECTION CHAMBRE */
  .detail-carouselDescription {
    display: none;
  }
  .detail-priceDesktop  {
    display: none;
  }
  .detail-carouselIndicators li{
    width: 20px;
    height: 20px;
    background-color: var(--orange);
    font-size: .8rem;
  }
  .detail-carouselIndicators .active{
      border: none;
  }
  .detail-carouselSlide {
    margin-left: 0rem;
  }
  .detail-priceMobile {
    height: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
    color : var(--orange);
  }
  .detail-priceMobile  h3::first-letter {
    font-size:2.5rem;
  }

  .detail-priceMobile h3, .detail-priceMobile p {
    font-family: "sirichana";
  }
  .detail-priceMobile h3 {
    font-family: "sirichana";
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom:0px;
  }
  .detail-priceMobileTarif{
    font-size: 2.2rem;
    margin-bottom:0px;
  }
  .detail-priceMobileTarif > span {
    font-size: 3.5rem;
  }
  .detail-priceMobileTarif > span > span {
    font-size: 2rem;
  }

  .detail-priceMobile  h3::first-letter, .detail-priceMobileTarif::first-letter {
    font-size: 3.2rem;
  }

  .detail-priceMobileBgOrangeTarif {
    background-color : var(--orange);
    height: 100px;
    color: white;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .detail-priceMobileBgOrangeAdress {
    background-color : var(--orange);
    height: 72px;
    color: white;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .detail-CarouselDescription{
    line-height: 2rem;
    color: var(--orange);
    font-size: 1.7rem;
    font-family: "sirichana";
    text-transform: none;
  }


  /*MAP */
  .detail-map {
    height: 335px;
  }

  /* FOOTER*/
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
  .footer-mobile h5{
    font-size: 2.7rem;
    font-family: "sirichana";
    font-weight: bold;
  }
  .footer-mobile .button-group {
    width: 20rem;
    font-size: .2rem;
  }
  .footer-mobile button {
    font-size: 1.3rem;
    background-color: white;
    color: var(--orange);
  }
  .footer-network {
    padding-left: 0rem;
    font-size: 2rem;
  }

}
