

/* BURGER MENU NAV*/
#detail-burgerMenuDropDown {
  background-color : var(--orange);  height: 1000px;  display: none;  position: relative;  z-index: 2;
}
.detail-container {
  margin-top : -50px;
}
#detail-burgerMenuDropDown h2 {

  font-weight: 700;  font-size: 3rem;
  }
#detail-burgerMenu nav {
  height: 160px;  top: 50px;  z-index: 1;
}
.detail-BurgerMenuDropDownDescription {
  margin-top: -40px;
}
.detail-BurgerMenuDropDownDescription a {
  color: white;
}
.detail-BurgerMenuDropDownDescription a {
  text-decoration: none;
}
#detail-burgerMenuDropDown h2:hover  {
  font-size: 3.5rem;
}




/*--Indicator-Carousel-Header--*/
.home-carouselIndicators li{
  margin-right: 15px; width: 30px; height: 30px; opacity: 100%; border-radius: 100%; background-color: var(--orange);
}
.home-carouselIndicators .active{
  background-color: var(--purple);
}
/*--Logo-Header--*/
.home-logoBan{
  width: 115px; height: auto;top: 30px;  margin-left: auto;  margin-right: auto;  left: 0;  right: 0;  text-align: center;
}
/*--Dropdown-Langage--*/
.home-langagePicker{
  width: 115px;  height: auto;  top: 30px;  margin-left: auto;  margin-right: auto;  left: 105rem;  right: 0;  text-align: center;
}
/*--Mini-slider-Header--*/
.home-miniSliderImg{
  overflow: hidden;  width:320px;  top: 40rem;  right: 20rem;
}
.home-innerCarouselMiniSlider{
  padding-left: 60px;  padding-right: 60px;
}
.home-miniSliderControlPrev{
  width: 50px;  height: auto;  left: 0px;  top: 50px;  opacity: 100%;
}
.home-miniSliderControlNext{
  width: 50px;  height: auto;  right: 0px;  top: 50px;  opacity: 100%;
}

/*--Container-Covid--*/
.hom-containerCovid{
  height: 80px;  background-color: var(--orange);
}
.home-textCovid{
  text-align: center;
}

/*--Container-Agenda--*/
.home-containerAgenda{
  width: auto;  height: 1100px;
}
.home-titreAgenda{
  font-family: 'Helvetica Neue LT Std 77 Bold Condensed';  font-size: 75px;  margin-top: 50px;  color: var(--orange)
}
.home-catAgenda{
  font-family: 'Helvetica Neue LT Std 57 Condensed';  margin-top: 75px;
}
.home-catAgenda a{
  text-decoration:none;
}
.home-listeAgenda::first-letter{
  font-size: 150%;
}
.home-containerAgendaPhoto{
  margin-top: 40px;
}
.home-agendaSlider{
  top: 28rem;  left: 74rem;  width: 515px;  height: 450px;  float: right;
}
.home-listeAgenda {
  text-align: center;
}
.home-catAgenda a {
  color: var(--black);  text-transform: uppercase;  display: inline-block;  position: relative;
}
.home-catAgenda a:after {
  background: none repeat scroll 0 0 transparent;  bottom: 0;  content: "";  display: block;  height: 2px;  left: 50%;  position: absolute;  background: var(--orange);  transition: width 0.3s ease 0s, left 0.3s ease 0s;  width: 0;
}
.home-catAgenda a:hover:after {
  width: 100%;  left: 0;
}
.home-carouselControlIconAgenda{
  width: 50px;  height: auto;
}
.home-agendaSliderControlnext{
  top: 26rem;  right: 10rem;  opacity: 100%;
}
.home-agendaSliderControlPrev{
  top: 26rem;  left: 10rem;  opacity: 100%;
}

/*--Container-Visit--*/
.home-containerVisite{
  background-color: #333333;  height: 800px;  display: flex;  justify-content: center;
}
.home-visiteRow1{
  margin-top: 50px;
}
.home-imgTitle1{
  width: 300px;  height: auto;
}
.home-imgTitle2{
  width: 220px;  height: auto;
}
.home-txtTitle{
  font-family: 'Helvetica Neue LT Std 47 Light Condensed';  font-size: 30px;
}
.home-containerSlider{
  margin-top: 250px;
}
.home-imgSlider1{
  width: 382px;  height: 513px;  box-shadow: 0px 5px 10px 1px rgba(238, 0, 255, .2);
}
.home-imgSlider2{
  width: 860px;  height: 513px;  box-shadow: 0px 5px 10px 1px rgba(238, 0, 255, .2);
}
.home-imgSlider3{
  width: 382px;  height: 513px;  box-shadow: 0px 5px 10px 1px rgba(238, 0, 255, .2);
}

.home-acordeonForfait{
  width: 1903px;  height: auto;
}

/*--Container-Activités--*/
.home-logoServices{
  width: 105px;  height: 105px;
}
.home-wrapperLogoServices{
  background-color: #333333;  padding-bottom: 20px;
}

/*--Container-Share--*/
.home-containerShare{
  padding-top: 100px;  background-color: #333333;  height: 260px;  width: 100%;
}
.home-htVisitBeauvais{
  color: var(--purple)
}
.home-txtShare{
  font-family: 'Helvetica Neue LT Std 47 Light Condensed';  font-size: 35px;
}

/*--Social-Wall--*/
.home-containerSocialWall{
  background-color: #d0a1d0;  padding: 50px;  width: 100%;  height: 1000px;
}

/* BURGER MENU NAV*/





/*--media-queries--*/
@media (max-width: 900px){
  .home-megaWrapper{
    display: none;
  }
  .home-megaWrapperMobile{
    display: block;
  }
}

@media (min-width: 900px){
  .home-megaWrapper{
    display: block;
  }
  .home-megaWrapperMobile{
    display:none;
  }
}


/*--MOBILE--*/
.home-mobileContainerHeader{
  background-color: white;
}

.home-mobileContainerCovid{
  background-color: var(--orange);  width: auto;  height: 40px;  text-align: center;  padding-top: 5px;  font-family: 'Helvetica Neue LT Std 77 Bold Condensed';  font-size: 20px;
}

.home-mobileTextAgenda1{
  margin-top: 10px;  margin-left: 5px;  margin-bottom: 0px;  font-family: 'Helvetica Neue LT Std 57 Condensed';  color: var(--orange);  font-size: 28px;
}

.home-mobileTextAgenda2{
  margin-top: 0px;  margin-left: 5px;  font-family: 'Helvetica Neue LT Std 57 Condensed';  color: var(--purple);  font-size: 20px;
}

.home-mobileImgAgenda{
  width: 230px;  height: 130;  text-align: center;
}

.home-mobileAgendaMarginB{
  margin-bottom: 40px;
}

.home-mobileAgendaDateMois{
  font-family: 'Helvetica Neue LT Std 57 Condensed';  color: var(--purple);  text-align: center;  margin-bottom: 0px;
}
.home-mobileAgendaDateMois{
  font-size: 80%;
}

.home-mobileAgendaSousTitre{
  font-family: 'Helvetica Neue LT Std 57 Condensed';  text-align: center;  margin-top: 0px;
}

.home-mobileAgendaFlechePrev{
  width: 25px;  height: auto;  margin-left: 2rem;  margin-right: 2rem;
}

.home-mobileAgendaFlecheNext{
  width: 25px;  height: auto;  margin-left: 2rem;  margin-right: 2rem;
}

.home-mobileAgendaBouton{
  margin-right: 1rem;  margin-bottom: 20px;
}

.home-mobileContainerActivites{
  background-color: #333333;
}

.home-mobileContainerActivites p{
  font-family: 'Helvetica Neue LT Std 57 Condensed';  color: var(--purple);
}

.home-mobileActiviteLogoRows{
  text-align: center;
}

.home-mobileLogoActivites{
  width: 40px;  height: 40px;  margin-top: 20px;
}

.home-mobileContainerForfaits1{
  background-color: var(--orange);  height: 100px;  text-align: center;  font-family: 'Helvetica Neue LT Std 77 Bold Condensed';  font-size: 20px;  padding: 40px;
}

.home-mobileContainerForfaits2{
  background-color: var(--purple);  height: 100px;  text-align: center;  font-family: 'Helvetica Neue LT Std 77 Bold Condensed';  font-size: 20px;  padding: 40px;
}

.home-mobileHotelImg1{
  margin-top: 40px;
}

.home-mobileHotelImg2{
  margin-top: 40px;
}

.home-mobileContainerPreFooter{
  background-color: #333333;
}

.home-mobileTxtPreFooter{
  font-family: 'Helvetica Neue LT Std 47 Light Condensed';  font-size: 20px;  margin-left: 20px;  padding-top: 20px;
}

.home-mobileHTPreFooter{
  font-family: 'Helvetica Neue LT Std 77 Bold Condensed';  color: var(--purple);  font-size: 35px;
}

.home-mobileLogoPreFooter{
  width: 120px;  height: auto;  margin-left: 20px;  margin-bottom: 20px;
}
